<p>hello book: <strong>{{ bk.Title }}</strong>
<a href = "/delete/{{bk.ISBN}}">delete</a></p>
<ul>
    <li>ISBN: {{bk.ISBN}}</li>

    <li>Title: {{bk.Title}}</li>

    <li>AuthorID: {{bk.AuthorID}}</li>

    <li>Publisher: {{bk.Publisher}}</li>

    <li>PublishDate: {{bk.PublishDate}}</li>

    <li>Price: {{bk.Price}}</li>
</ul>

<p>hello author: <strong>{{ au.Name }}</strong></p>
<ul>
    <li>AuthorID: {{au.AuthorID}}</li>
    <li>Name: {{au.Name}}</li>
    <li>Age: {{au.Age}}</li>
    <li>Country: {{au.Country}}</li>
</ul>

<p><a href = "/home/">return to the home</a></p>
<p><a href = "/search/">continue to search</a></p>